@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

/* Jika kamu ingin menambahkan custom style setelah import tailwind */
@theme {
  --font-sans: "Space Grotesk", ui-sans-serif, system-ui;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
